body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}
header {
    background: #643876;
    color: white;
    padding: 15px 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background: #512e5f;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav ul li a.activo {
    background: #392143;
    border-radius: 5px;
}
main {
    padding: 20px;
}
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #643876;
    color: white;
}
.agregar-libro {
    background: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}
.editar {
    background: #ffc107;
    color: black;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
.eliminar {
    background: #dc3545;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
