body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}
header {
    background: #643876;
    color: white;
    padding: 15px 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background: #512e5f;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav ul li a.activo {
    background: #392143;
    border-radius: 5px;
}
main {
    padding: 20px;
}


h5 {
    text-align: center;
    color: #333;
}

.detalle-libro {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.portada {
    width: 200px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.info {
    flex: 1;
}

.info h3 {
    margin-top: 0;
    color: #222;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.volver {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.volver:hover {
    text-decoration: underline;
}


